#title{
    color: #5689c0;
    font-weight: bold;
}
#title2{
    color: #244d61;
    font-weight: bold;
}

#orden{
    color: crimson;
    font-size: 25px;
    text-align: center;
}

#text{
    color: green;
    font-weight: bold;
    font-size: 20px;
    
}